SECRET_KEY=cambia_esta_clave_por_una_muy_larga_y_aleatoria
DEBUG=False
ALLOWED_HOSTS=tu-dominio.com,api.tu-dominio.com

DB_ENGINE=django.db.backends.mysql
DB_NAME=tutalleraunclic
DB_USER=tu_usuario
DB_PASSWORD=tu_password_seguro
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONN_MAX_AGE=60

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_app_password

CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://tuapp.com,https://admin.tuapp.com
CSRF_TRUSTED_ORIGINS=https://tuapp.com,https://admin.tuapp.com

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
USE_X_FORWARDED_HOST=True
